.main__content.tickets {
    background-color: #edeef2 !important;
}

@media screen and (max-width: 899px) {
    .main__content.tickets {
        padding: 17px 12px 24px;
        background-color: #edeef2 !important;
    }
}
