.block--timer.canned-options .selectize-dropdown-content {
    max-height: 400px !important;
}
.filters__listing .btn {
    border-radius: 10px !important;
}
.btn-full {
    border-radius: 10px;
}

.btn--blue-border, .btn-full {
        border-radius: 10px;
    }
selectize-control .selectize-input {
    border-radius: 10px !important;
}
.form input.form-control, .form textarea.form-control {
    border-radius: 10px;
}
